# created by virtualenv automatically

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
logs/
*.log

# Lynis reports
reports/
*.txt

# OS files
.DS_Store
Thumbs.db

# Backup files
*~
*.swp
*.bak

models/
